.comment
  %header
    %p
      %strong=comment.name
      %span.time.small
        =comment.created_at.to_date.strftime("%d %b %y")
        @
        =comment.created_at.to_time.strftime("%I:%M %p")
  %section.text
    %p=comment.content