.post
  %p=post.created_at.to_date.strftime("%y %^b %d")
  %h3 Title
  %p=post.title
  %p=post.description.split.slice(0, 10).join(" ")+'...'
  - puts post.inspect
  = link_to post.author.nickname, dashboard_posts_path(author: post.author.nickname)
  %ul
    = render post.tags
  = link_to 'Edit', edit_dashboard_post_path(post.id)
  = link_to 'Destroy', dashboard_post_path(post.id), method: 'delete'
