- @words_content = 30
- @words_title = 20

- if not @posts.empty?
  - main = true
  - pa = @posts.to_a
  .row
    .col-sm-12
      = render pa.shift

  - @words_content = 10
  - @words_title = 11
  - main = false
  .row
    - pa.each do |p|
      .col-sm-6
        = render p



