.post-full
  %h2= @post.title
  %p= @post.created_at.to_time.strftime("%y %^b %d %H:%M:%S")
  %p= @post.description
  %ul
    = render @post.tags
  - @post.comments.each do |c|
    .comment
      %p=c.name
      %p=c.email
      %p=c.content
