/* --------------------------------------------------------------------
   Reset - modified from http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------------- */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, em, img, strong, sup, var, b, u, i, center, ol, ul, li, fieldset, form, label, article, aside, figure, figcaption, footer, header, hgroup,  menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none; }
strong { font-weight: bold; }

/* --------------------------------------------------------------------
   Imports
------------------------------------------------------------------
-- */

@import "variables";
@import "posts";
@import "session";
@import "categories";
@import "pages";
@import "authors";
@import "dashboard";
@import "froala_editor.min.css";
@import 'font-awesome';
@import "bootstrap-customization";
@import "bootstrap-sprockets";
@import "bootstrap";


/* --------------------------------------------------------------------
   Global
-------------------------------------------------------------------- */

/* ---- Base ---- */
html {
  font-size: 16px;
}
body {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---- Typogragphy ---- */

h1 {
  font-size: 4.375em; /* 70px/16px */
  line-height: 40px;
}
h2 {
  font-size: 3.125em; /* 50px/16px */
}
h3 {
  font-size: 2.5em; /* 40px/16px */
}
h4 {
  font-size: 1.25em; /* 20px/16px */
}
h5 {
  font-size: 1em;
}

p, span, a, li {
  font-size: 1em;
}


/* --------------------------------------------------------------------
   Blog specific
-------------------------------------------------------------------- */

#application {
  /* ---- Layout ---- */

  header.navbar {
    ul {
      line-height: inherit;
    }

    .logo {
      max-height: inherit;

      .navbar-more {
        position: relative;
        margin-top: 10px;
        border: none;
        right: -15px;
      }

      a {
        display: block;
        padding: 8px 0;
      }

      img {
        vertical-align: bottom;
        width: 140px;
        height: 40px;
      }

      @media (max-width: $screen-xs-max) {
        a,
        img {
          width: 130px;
        }
        a {
          margin: 0 auto;
        }
      }
    }

    .menu {
      li a {
        height: 56px;
      }

      @media (max-width: $screen-xs-max) {
        text-align: center;

        li {
          display: inline-block;
        }

        li a {
          height: 40px;
          font-size: 0.9em;
        }
      }
    }
  }

  #content {
    min-height: 860px;
    margin-top: 95px;

    @media (min-width: $screen-md-min) {
      padding: 0;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 80px;
    }
  }

  .sidebar {
    section {
      margin-bottom: 30px;
    }

    .popular-posts, .recent-posts {
      padding: 0 10%;

      @media (max-width: $screen-md-max) {
        padding: 0 5%;
      }

      li {
        margin-bottom: 5px;
        width: 100%;

        img {
          width: 38%;
          vertical-align: top;
        }
        p {
          width: 60%;
        }
      }
    }

    .archive {
      li {
        margin-bottom: 3%;
      }
    }
  }

  footer {
    margin-top: 40px;
    padding: 15px 0;

    .row {
      padding-bottom: 10px;
    }
  }

  /* ---- Colors ---- */

  header.navbar {
    background-color: white;
  }

  footer {
    background-color: #F0F0F0;

    .social-links a {
      display: inline-block;
    }

    .social-links .icon img {
      width: 30px;
    }
  }
}

.inline {
  display: inline-block;
}