#application {
  .author-profile {
    .name {
      margin-top: 5px;
    }

    .social-links .icon img {
      width: 30px;

      @media (max-width: $screen-xs-max) {
        width: 50px;
      }
    }
  }

  .author-bio {
    @extend .quote;
    margin: 30px 0 0 10px;

    .contact-info {
      @extend address;

      margin-bottom: 0;
    }
  }
}