#application {
  .author-profile {
    .name {
      margin-top: 5px;
    }

    .social-links .icon img {
      width: 30px;

      @media (max-width: $screen-xs-max) {
        width: 50px;
      }
    }
  }
}