#dashboard {
  .sub-menu {
    margin-top: 55px;
    border-bottom: 1px solid #e8e8e8;
  }

  .flashes {
    list-style: none;
    padding: 0;
    width: 80%;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  /* -- Bootstrap rewrite -- */

  .navbar li a:hover {
    background-color: #999;
    color: #fff;
  }

  h2 span {
    color: #555;
  }

  .main {
    margin-bottom: 3em;
  }

  #error-explanation {
    ul li {
      margin-left: 1.5em;
    }
  }
}