#dashboard {
  padding: 3em 0;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .menu {
    a {
      padding: 1em 2em;
      display: block;
      text-align: right;

      &:hover {
        background-color: #eee;
      }
    }
  }

  .main {
    margin-bottom: 3em;
  }
}