#dashboard {
  padding: 3em 0;

  .flashes {
    list-style: none;
    padding: 0;
    width: 80%;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  h2 span {
    color: #555;
  }

  .menu {
    a {
      padding: 1em 2em;
      display: block;
      text-align: right;

      &:hover {
        background-color: #eee;
      }
    }
  }

  .main {
    margin-bottom: 3em;
  }
}