@mixin simple-filter($class, $bcolor) {
  list-style: none;
  padding: 0;

  .#{$class} {
    display: inline-block;
    background-color: $bcolor;
    border-radius: 5px;

    a {
      padding: 5px;
    }
  }
}

/* --------------------------------------------------------------------
   Dashboard layout
-------------------------------------------------------------------- */

#dashboard.posts {
  .thumbnail {
    padding: 1em;
  }

  .post {
    .tags {
      margin-top: 5px;
    }

    .options {
      a {
        margin-right: 5px;
      }
    }
  }

  .tags {
    @include simple-filter(tag, #eee)
  }

  .authors {
    @include simple-filter(author, #e2eeff)
  }

  .froala-wrapper.f-basic {
    min-height: 400px;
  }
}

/* --------------------------------------------------------------------
   Application layout
-------------------------------------------------------------------- */

#application {
  h3 {
    text-align: center;
  }

  .post-full,
  .post {
    background-color: $content-bg-color;
    padding: 10px;
    margin: 10px 0;

    header {
      .month-year,
      .day {
        display: inline-block;
      }
      .date {
        font-family: $title-font-family;
        padding-right: 15px;
        margin-right: 10px;
        border-right: 2px solid complement($primary-color);
        float: left;


        .day {
          font-size: 2.5em;
          padding: 0 5px;
          color: $primary-color;
        }
        .month-year {
          vertical-align: sub;
          text-align: center;

          span {
            display: block;
          }
        }
      }
      .title {
        width: 85%;
        margin-right: 0;
        vertical-align: bottom;
        float: left;

        a {
          color: darken($primary-color, 30%);
        }
      }
    }

    .tags {
      @include simple-filter(tag, complement($primary-color));
      a {
        color: white;
      }
      li:hover {
        background-color: lighten(complement($primary-color), 20%);
      }
    }
  }

  .post-full {
    header {
      .title {
        text-align: center;
      }
      .info {
        font-size: 80%;
      }
    }
    .content {
      clear: both;
      text-align: justify;
      padding: 15px;
    }
    .comments {
      background-color: #fcebfa;
      padding: 20px;

      h4 {
        text-align: center;
      }
      .comment {
        background-color: white;
        padding: 15px;
        border-radius: 5px;
        margin: 10px 0;

        &:last {
          border-bottom: none;
        }

        header {
          .name {
            font-weight: bold;
          }
          .time {
            color: #999;
          }
        }
      }
    }
    .new_comment {
      .field {
        margin-bottom: 10px;
      }
      textarea {
        resize: vertical;
      }
    }
  }

  .post {
    header .title a:hover {
      color: darken($primary-color, 20%);
    }
    .content {
      clear: both;
    }
  }

  .half-size {
    width: 49.6%;
    display: inline-block;
    font-size: 75%;

    .post {
      .date {
        font-size: 80%;
        padding-right: 10px;
        margin-right: 5px;
      }

      .title {
        width: 80%;
        margin: 3px 0;
      }
    }

    &:nth(1) {
      margin-right: 5px;
    }
  }
}