/* ---- Variables ---- */

$primary-color: #993299;
$secondary-color: #fcebfa;
$neutral-color: #333;
$title-font-family: BebasNeueRegular;
$content-bg-color: white;

/* -- Bootstrap rewrite -- */

$btn-primary-bg: $primary-color;
